.card {
	font-family: arial;
	font-size: 20px;
	text-align: left;
	color: black;
	background-color: white;
}

#front{
	text-align: center;
}

:is(.NavToggle,.HQToggle,.nyms-toggle)::before {
	content: "[";
}

:is(.NavToggle,.HQToggle,.nyms-toggle)::after {
	content: "]\00a0";
}

.mw-default-size {
	float: right;
}
