.card {
	font-family: arial;
	font-size: 20px;
	text-align: left;
	color: black;
	background-color: white;
}

#front{
	text-align: center;
}

:is(.NavToggle,.HQToggle,.nyms-toggle)::before {
	content: "[";
}

:is(.NavToggle,.HQToggle,.nyms-toggle)::after {
	content: "]\00a0";
}

.fig-container {
	float: right;
	border: 1px solid;
	margin: 20px;
	padding: 0px;
	clear: both;
}

.fig-inner-container {
	border: 1px solid;
	margin: 1px;
	padding: 0px;
	display: table;
}

.mw-default-size, .mw-halign-right {
	margin: 0px;
	padding: 0px;
	text-align: center;
	display: table;
}

:is(.mw-default-size, .mw-halign-right) figcaption {
	display: table-caption;
	caption-side: bottom;
}
