.mw-ankibutton {
  all:unset;
  padding-left:17px;
  display:inline-block;
}

.ankibutton {
  border-radius: 15px;
  background-color: #292929;
  border: none;
  color: #ffffff;
  text-align: center;
  font-size: 10px;
  padding: 8px;
  width: 30px;
  height: 30px;
  background-size: 30px;
  transition: all 0.4s;
  cursor: pointer;
  margin: 2px;
  background-repeat: no-repeat;
}

.ankibutton.add {
  background-image: url('/assets/add_sign.png');
}

.ankibutton.remove {
  background-image: url('assets/remove_sign.png');
}

.ankibutton:hover {
  width: 120px;
}

.ankibutton span {
  cursor: pointer;
  display: inline-block;
  position: relative;
}

.ankibutton span::after {
  position: absolute;
  opacity: 0;
  top: 0;
  right: 120px;
}

.ankibutton.add span::after {
  content: 'Add to Anki';
}

.ankibutton.remove span::after {
  content: 'Remove from Anki';
}


.ankibutton.add:hover span {
  padding-right: 70px;
}

.ankibutton.remove:hover span {
  padding-right: 90px;
}

.ankibutton:hover span::after {
  opacity: 1;
  right: 0;
}
