.fig-container {
	float: right;
	background-color: #f9f9f9;
	border: 1px solid;
}

.mw-default-size, .mw-halign-right {
	margin: 1px;
	padding: 1px;
	text-align: center;
	float: right;
	display: table;
}

:is(.mw-default-size, .mw-halign-right) figcaption {
	display: table-caption;
	caption-side: bottom;
}
